<h1>About Us</h1>
<p>
Welcome to the Time-Tracker app! This app was designed to allow students 
in the CMU Software Engineering Course track their hours spent on coursework. 
Now go start working on the "rail-road!" (cheesy, yes)
</p>
