<h1>Time-tracker application</h1>

<p>
This is the home page for the time-tracker application. <br />
Make sure to use it each time you work on something for the SwEng course to track your hours!
</p>

<p>
Please use the navigation bar at the top right of the screen! Thanks!
</p>

